# Interdire l'affichage des fichiers/répertoires
Options -Indexes

# Interdire l'accès à certains fichiers sensibles
<FilesMatch "^(\.env.*|\.(git|gitignore|htpasswd)|composer\.(json|lock)|package\.json)$">
    Require all denied
</FilesMatch>

# Activation de la réécriture d'URL
RewriteEngine On

# Ne pas réécrire si c'est un vrai fichier ou répertoire
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ctrl/action/id
RewriteRule ^([^/]+)/([^/]+)/([0-9]+)/?$ index.php?ctrl=$1&action=$2&id=$3 [QSA,L]

# Ne pas réécrire si c'est un vrai fichier ou répertoire
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# ctrl/action
RewriteRule ^([^/]+)/([^/]+)/?$ index.php?ctrl=$1&action=$2 [QSA,L]