body{
    font-family:  Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

h1{
    font-size: clamp(2.25rem, 6vw, 4rem);
    text-transform: uppercase;
    font-weight: 700;
}
h2{
    font-size: clamp(1.375rem, 3vw, 2.5rem);
    text-transform: uppercase;
    font-weight: 700;
}
h3{
    font-size: clamp(1.125rem, 2vw, 1.75rem);
    text-transform: uppercase;
    font-weight: 700;
}
p{
    font-size: clamp(0.875rem, 1vw, 1.125rem);
    max-width: 60ch;
    font-weight: 400;
}
label{
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 400;
}

.spanMovie{
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 400 ;
}

#hero .logo img{
    height: clamp(300px, 30vw, 500px);
    width: clamp(300px, 30vw, 500px);
}

body::-webkit-scrollbar {
  display: none;
}

nav a{
    color: #ffffff;
}

.iconHeader{
    height: clamp(2rem, 2vw, 2.5rem);
}

.nav-link{
    font-weight: 300;
    font-size: clamp(1rem ,3vw, 1.25rem);
    color: #000000;
    transition: all 0.3s ease-out;
}

.nav-link:hover{
    opacity: 0.7;
    transform: scale(0.9);
}

.dropdown button{
    font-weight: 300;
    font-size: clamp(1rem ,3vw, 1.25rem);
    color: #000000;

}

.active{
    opacity: 0.7;
    background-color: #fffFFF !important;
    color: #000000 !important;
}

.active:hover{
    opacity: 0.7;
    transform: scale(1);
}

.btnCustom{
    display: inline-block;
    text-transform: uppercase;
    padding: clamp(0.5rem, 2vw, 1rem);
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.btnCustom:hover{
    background-color: #ffffff;
    color: #000000;
    transform: scale(0.9);
}
.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu > :not(:last-child) {
    border-bottom: 1px solid black;
}

.dropdown-item{
    transition: all 0.3s ease-out;
}

.dropdown-item:hover {
    opacity: 0.7;
    transform: scale(0.9);
}



.form-control:focus, .form-select:focus  {
    box-shadow: none;
    border: 1px solid #000000;
}



.contentFilm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
}

#newMovie ul il a{
    position: relative;
}
#newMovie ul .splide__slide a :is(a, img){
    transition: all 0.3s ease-out;
}

#newMovie ul .splide__slide a span{
    position: absolute;
    opacity: 0;
    padding: 1rem;
    transform: translate(-50%, -50%);
    color: #ffffff;
    left: 50%;
    z-index: 2;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 500;
}

#newMovie ul .splide__slide a :nth-child(2){
    top: 33%;
}

#newMovie ul .splide__slide a :nth-child(3){
    top: 66%;
}


#newMovie ul .splide__slide a:hover span{
    opacity: 1;
}

#newMovie ul .splide__slide a:hover img{
    filter: grayscale(100%) brightness(50%);
}

/*Page movie*/



 a.link{
    text-transform: uppercase ;
    color: #000000 ;
    text-decoration: none;
}
 a.link:hover{
    text-decoration: underline;
}



#search .scrollSearch::-webkit-scrollbar {
    display: none;
}

#listFilter .scrollList::-webkit-scrollbar {
    display: none;
}

@media(min-width: 992px){

    #search .scrollSearch{
        height: 1000px;
        overflow: auto;
    }

    #search > p{
        border-bottom: 1px solid #000000;
    }

    #search > :nth-child(3){
        border-left: 1px solid #000000;
    }

    #movie > :first-child{
        border-right: 1px solid #000000;
    }

    #listFilter h1{
        border-bottom: 1px solid #000000;
    }

    #listFilter > :nth-child(2){
        border-right: 1px solid #000000;
    }

    #listFilter .scrollList{
        height: 1000px;
        overflow: auto;
    }

}

#userComment .allComment {
    height: 600px;
    overflow: auto;
}
#userComment .allComment::-webkit-scrollbar {
    display: none;
}


#userComment h3{
    border-bottom: 1px solid #000000;
}

#userComment .comment{
    border: 2px #000000 solid;
    border-radius: 10px 40px 40px 40px;
    text-align: start;
    padding: 1rem;
}


footer div a.nav-link {
    display: inline-block;
}




.splide__slide img {
    height: auto;
    width: 100%;
    display: block;
}
