section {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Helvetica, sans-serif, monospace;
}

#game-container {
    width: 80%;
    height: 400px;
    border-bottom: 2px solid #555;
    position: relative;
    overflow: hidden;
    background: white;
}

#player {
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: #000000;
    border: 2px solid currentColor;
    border-radius: 8px;
    transition: height 0.3s ease-out;
}

.obstacle {
    width: 30px;
    height: 20px;
    position: absolute;
    bottom: 0;
    right: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.jump {
    animation: jump 0.7s cubic-bezier(0.4, 0, 0.2, 1);
}


@keyframes jump {
    0% {
        bottom: 0;
        transform: rotate(0deg) skewX(0deg);
    }
    25% {

        transform: rotate(-10deg) skewX(5deg);
    }
    50% {
        bottom: 110px;
        /* Rotation en l'air */
        transform: rotate(15deg) skewX(-5deg);
    }
    75% {

        transform: rotate(5deg);
    }
    100% {
        bottom: 0;
        transform: rotate(0deg) skewX(0deg);
    }
}



#score {
    margin-top: 20px;
    font-size: 20px;
}
