.splide__slide {
    display: flex;
    align-items: center;
}

.splide__slide img {
    max-height: 300px;
    height: 100%;
    width: auto;
    display: block;
}


.hoverMovie a {
  position: relative;
  display: block;
  overflow: hidden;
}

.hoverMovie a img {
  transition: all 0.3s ease-out;
}


.hoverMovie a .movieNote {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  transition: opacity 0.3s ease-out;
  margin: 0 auto;
}


.movieNote .stars {
    display: flex;
    gap: 1px;
}

.movieNote .stars i {
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 2rem);
}


.movieNote .note {
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: bold;
}


.hoverMovie a .movieLikes {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 2rem);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  z-index: 2;
  transition: opacity 0.3s ease-out;
}


.hoverMovie a:hover .movieNote,
.hoverMovie a:hover .movieLikes {
  opacity: 1;
}

.hoverMovie a:hover img {
  filter: grayscale(100%) brightness(50%);
}
