body{
    font-family:  Helvetica, sans-serif;
    background-color: #ffffff;
    color: #000000;
}

h1{
    font-size: clamp(2.25rem, 6vw, 4rem);
    text-transform: uppercase;
    font-weight: 700;
}
h2{
    font-size: clamp(1.375rem, 3vw, 2.5rem);
    text-transform: uppercase;
    font-weight: 700;
}
h3{
    font-size: clamp(1.125rem, 2vw, 1.75rem);
    text-transform: uppercase;
    font-weight: 700;
}
p{
    font-size: clamp(0.875rem, 1vw, 1.125rem);
    max-width: 60ch;
    font-weight: 400;
}
label{
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 400;
}

.spanMovie{
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-weight: 400 ;
    color: #000000;
}

#hero .logo img{
    height: clamp(300px, 30vw, 500px);
    width: clamp(300px, 30vw, 500px);
}

body::-webkit-scrollbar {
  display: none;
}

nav a{
    color: #ffffff;
}

.iconHeader{
    height: clamp(2rem, 2vw, 2.5rem);
}

.nav-link{
    font-weight: 300;
    font-size: clamp(1rem ,3vw, 1.25rem);
    color: #000000;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.nav-link:hover{
    opacity: 0.7;
    transform: scale(0.9);
}

.dropdown button{
    font-weight: 300;
    font-size: clamp(1rem ,3vw, 1.25rem);
    color: #000000;

}

.active{
    opacity: 0.7;
    background-color: #fffFFF !important;
    color: #000000 !important;
}

.active:hover{
    opacity: 0.7;
    transform: scale(1);
}

.btnCustom{
    display: inline-block;
    text-transform: uppercase;
    padding: clamp(0.5rem, 2vw, 1rem);
    font-size: 1rem;
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #000000;
    border-radius: 10px;
    font-weight: 700;
    text-decoration: none;
    transition: all 0.3s ease-out;
}

.btnCustom:hover{
    background-color: #ffffff;
    color: #000000;
    transform: scale(0.9);
}
.dropdown-menu {
    border-radius: 0;
}

.dropdown-menu > :not(:last-child) {
    border-bottom: 1px solid black;
}

.dropdown-item{
    transition: all 0.3s ease-out;
}

.dropdown-item:hover {
    opacity: 0.7;
    transform: scale(0.9);
}



.form-control:focus, .form-select:focus  {
    box-shadow: none;
    border: 1px solid #000000;
}



.contentFilm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 0;
}

.hoverMovie a {
  position: relative;
  display: block;
  overflow: hidden;
}

.hoverMovie a img {
  transition: all 0.3s ease-out;
}


.hoverMovie a .movieNote {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  z-index: 2;
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  transition: opacity 0.3s ease-out;
  margin: 0 auto;
}


.movieNote .stars {
    display: flex;
    gap: 1px;
}

.movieNote .stars i {
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 2rem);
}


.movieNote .note {
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 2rem);
  font-weight: bold;
}


.hoverMovie a .movieLikes {
  position: absolute;
  top: 66%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: #ffffff;
  font-size: clamp(1rem, 3vw, 2rem);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  z-index: 2;
  transition: opacity 0.3s ease-out;
}


.hoverMovie a:hover .movieNote,
.hoverMovie a:hover .movieLikes {
  opacity: 1;
}

.hoverMovie a:hover img {
  filter: grayscale(100%) brightness(50%);
}


#actor .filterActor{
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
}

#actor .filterActor select{
    border: 0;
}

#actor .filterActor option:hover{
    background-color: #000000;
    color: #ffffff;
}

#user > div:first-of-type, #user .spanMovie{
    border-bottom: 1px solid #000000;
}


 a.link{
    text-transform: uppercase ;
    color: #000000 ;
    text-decoration: none;
}
 a.link:hover{
    text-decoration: underline;
}

#search .scrollSearch::-webkit-scrollbar {
    display: none;
}

#listFilter .scrollList::-webkit-scrollbar {
    display: none;
}

#review .scrollList::-webkit-scrollbar{
    display: none;
}

@media(min-width: 992px){

    #search .scrollSearch{
        height: 1000px;
        overflow: auto;
    }

    #search > p{
        border-bottom: 1px solid #000000;
    }

    #search > :nth-child(3){
        border-left: 1px solid #000000;
    }

    #movie > :first-child,  #actor > :first-child {
        border-right: 1px solid #000000;
    }

    #listFilter h1{
        border-bottom: 1px solid #000000;
    }

    #listFilter > :nth-child(2){
        border-right: 1px solid #000000;
    }

    #listFilter .scrollList{
        height: 1000px;
        overflow: auto;
    }

    #actor .scrollList{
        height: 600px;
        overflow: auto;
    }

    #review .scrollList{
        height: 600px;
        overflow: auto;
    }

    #review h2{
        padding-bottom: 1rem;
        border-bottom: 1px solid #000000;
    }

}

#userComment .allComment {
    height: 600px;
    overflow: auto;
}
#userComment .allComment::-webkit-scrollbar,  #actor .scrollList::-webkit-scrollbar {
    display: none;
}


#userComment h3{
    border-bottom: 1px solid #000000;
}

#userComment .comment{
    border: 2px #000000 solid;
    border-radius: 10px 40px 40px 40px;
    text-align: start;
    padding: 1rem;
    position: relative;
}

#userComment .comment :is(form, input, label){
    cursor: pointer;
}



.comment-spoiler{
    position: absolute;
    inset: 0; /* top:0; right:0; bottom:0; left:0 */
    border-radius: 10px 40px 40px 40px;
    background-color: white;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}


#settingsUser > :nth-child(3){
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
}

#settingsUser > :nth-child(4){
    border-bottom: 1px solid #000000;
}

#dashboard{
    position: relative;
}

#dashboard .homeBtn{
    position: absolute;
    top: 4rem;
    right: 1rem;
    cursor: pointer;
    display: block;
    color: #000000;
}

#dashboard :is(#user, #addMovie, #report){
    border-bottom: 1px solid #000000;
    margin-right: 5px;
    cursor: pointer;
}

#dashboard #listUser > form:first-of-type{
    border-bottom: solid 1px #000000;
}

#dashboard #listUser > .allUser{
    height: 600px;
    overflow: auto;
}

#dashboard #listUser > .allUser::-webkit-scrollbar{
    display: none;
}



#addMovie .accordion-button.collapsed {
    background-color: #f8f9fa;
    color: #000;
}


#addMovie .accordion-button {
    background-color: #ffffff;
    color: #000;
}


footer div a.nav-link {
    display: inline-block;
}

.splide__slide {
  height: 450px;
  display: flex;

  align-items: center;
  justify-content: center;
}

.splide__slide a {
  display: block;
  height: 100%;
}

.splide__slide img {
  display: block;
  height: 100%;
  width: 100%;

}
